<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niimbot.asset.mapper.AsPmVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.niimbot.asset.model.AsPmVersion">
        <id column="id" property="id" />
        <result column="version_name" property="versionName" />
        <result column="module_config" property="moduleConfig" />
        <result column="is_allow_update" property="isAllowUpdate" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, version_name, module_config, is_allow_update, update_by, update_time
    </sql>

</mapper>
